body {
    font-family: 'Raleway', sans-serif;
}
.body-container{
  background-color: #d6e7f6;
  min-height: 70vh;
  border: 1px solid #042645;
  padding: 10px;
}

.logo {
    &:before {
        content: 'myLogo';
    }
}
.no-display{
  display: none;
}
.relative{
  position: relative;
}
.add-catagory-button{
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 3.6rem;
  color: #266cac;
}
.catagory{
  background-color: #266cac;
  color: white;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(#042849, 0.55);
}
.tile{
  flex-grow: 1;
  width: 25%;
  @media (max-width: 700px){
    width: 33%;
  }
  @media (max-width: 400px){
    width: 100%;
  }
}
.tiles{
  display: flex;
  flex-wrap: wrap;
}
.item{
  background-color: #26ac95;
  color: white;
  text-align: center;
  padding: 10px;
  border: 1px solid rgba(#042849, 0.55);
}
.item-expand{
  font-size: 18px;
  margin: 3px 0;
  width: 100%;
  background-color: #1f7d6d;
  text-align: left;
}

.catagory_desc{
  min-width: 100%;
}

.catagories{
}

div.connect {
    // color: gray;
    font-size: 1.1em;
}

.oauth_buttons a {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    width: 18em;
    height: 3em;
    border-radius: 10px;
    border: 2px solid rgba(0, 25, 48, 0.75); // vertical-align: baseline;

    .connect-logo {
        display: inline;
        // float: left;
        text-align: center;
        width: 50px;
        padding: 0.1em 0;
        font-size: 24pt;
        margin-right: 0.3em;
        border-right: 2px solid rgba(0, 25, 48, 0.75);
    }

    .sign-in-with-text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        padding:  0em 0.3em 0 0;
    }
}

a.facebook {
    background: #3a589a;
    margin-top: 0.8em;

    &:hover {
        background: rgba(#3a589a, 0.8);
    }
}

a.twitter {
    background: #4099ff;

    &:hover {
        background: rgba(#4099ff, 0.8);
    }
}

a.github {
    background: #444444;

    &:hover {
        background: rgba(#444444, 0.8);
    }
}
