$primary-color: #266cac;
$primary-dark-color: #042849;
$primary-selected-color: #005aac;
$light-text-color: white;
$dark-text-color: #00051c;
$light-active-color: #c5eff7 ;
$secondary-color: #26ac95;
$secondary-dark-color: #042849;
$secondary-selected-color: #1f7d6d;
$danger-color: #F9BF3B;
body {
    // font-family: 'Raleway', sans-serif;
}

.body-container {
    background-color: #d6e7f6;
    min-height: 70vh;
    border: 1px solid #042645;
    padding: 10px;
}

.no-display {
    display: none;
}

.relative {
    position: relative;
}

.notifications {
    background-color: rgba(#ffffff, 0.81);
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    z-index: 99;
    text-align: center;
}

.dismiss {}

.button-cancel,
input.button-cancel {
    color: $light-text-color;
    background-color: #3c3a3a;

    &:hover {
        color: $light-text-color;
        background-color: #636363;
    }

    &:active {
        color: $light-text-color;
        background-color: #636363;
    }

    &:focus {
        color: $light-text-color;
        background-color: #8f8f8f;
        border: 5px solid white;
    }
}

.button-danger,
input.button-danger {
    color: $dark-text-color;
    background-color: $danger-color;

    &:hover {
        color: $dark-text-color;
        background-color: darken( $danger-color, 10% );
    }

    &:active {
        color: $dark-text-color;
        background-color: lighten( $danger-color, 10% );
    }

    &:focus {
        color: $dark-text-color;
        background-color: $danger-color 10%;
        border: 5px solid white;
    }
}

.error {
    color: #d60000;
    list-style: none;
    font-weight: bold;
}
@import "tiles", "login"
