<!doctype html>
<head>
    <title>Catalogs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://use.fontawesome.com/13a615c5db.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown.js/0.5.0/markdown.min.js"></script>
<script src="{{url_for('static', filename='js/item.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div class="row notifications no-display" onclick="dismiss(this)">
  <div class="flash container"><div class="row flash-messages">
    <ul class="flashes">
    {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                {% endif %}
        {% endwith %}
      </ul>
      </div>
</div>
</div>
<div class="row header">
    <a href="{{ url_for('view_catalog') }}" class="header-link"><h1>Item catalog</h1></a>
    <hr>
    {% if current_user.is_authenticated %}
        You are logged in as
        {{ current_user.username }}!
        <a href="{{ url_for('logout') }}">Log out</a>
    {% else %}
        You are not logged in.
        <a href="{{ url_for('login') }}">Log in</a>
    {% endif %}
</div>
<div class="container body-container">

    {% block body %}{% endblock %}
</div>
