<!doctype html>
<head>
    <title>Catalogs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <script src="https://use.fontawesome.com/13a615c5db.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div class="row header">
    <h1>Item catalog</h1>
    <hr>
</div>
<div class="flash container"><div class="row flash-messages">{% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul class="flashes">
              {% for message in messages %}
                  <li>{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
      {% endwith %}</div>
  {% if current_user.is_authenticated %}
      You are logged in as
      {{ current_user.username }}!
      <a href="{{ url_for("logout") }}">Log out</a>
  {% else %}
      You are not logged in.
      <a href="{{ url_for("login") }}">Log in</a>
  {% endif %}</div>
<div class="container body-container">

    {% block body %}{% endblock %}
</div>
