<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}
    <h2 class="">Catagories</h2>

    {% if catagories %}
        <div class="catag">
            <script type="text/javascript">
                getCatagories();
            </script>
        </div>
    {% endif %}

    {% if current_user.is_authenticated %}
        <div class="row add-catagory">
            <button id="form-post-Catagory" type="button" class="u-pull-right"  onclick="showForm('#new-add-catagory-form-div' ,'new','catagory', '#form-post-Catagory');">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>Add a new catagory</button>
        </div>
        <div id="new-add-catagory-form-div" class="add-item item-more no-display"></div>
    {% endif %}

    {% if items %}
        <div class="items">
            <h2>Latest items added</h2>
            <script type="text/javascript">
                getItems('/json/catalog/items/latest/', $('.items'));
            </script>
        </div>
        <!-- {%include 'items.html'%} -->
    {% endif %}
{% endblock %}
