{% if items %}
    <div class="items tiles">
        {% for item in items %}
            <div id="item-{{ loop.index }}" class="item tile" onclick="itemDisplayMore({{ loop.index }},{{items|count}})">
                <div class="item-name">{{ item.name }}
                    {% if item_show_catagory %}
                        <span class="item-catagory">({{ item.catagory.name }})</span>
                    {% endif %}
                </div>
                <div class="item-more no-display">
                    <div class="item-desc">{{ item.description }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
