<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}
<h2>Login providers</h2>
    <form action="#" id="login-form">
        <div class="oauth_buttons">
            <!-- <div class="connect">Connect with</div>
            <a href="" class="facebook">
                <span class="connect-logo">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </span>
                <span>Sign in with Facebook</span>
            </a>
            <br/>
            <a href="" class="twitter">
                <span class="connect-logo">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </span>
                <span>Sign in with Twitter</span>
    </a>
    <br/> -->
    <a href="{{ url_for("github.login") }}" class="github">
        <span class="connect-logo">
            <i class="fa fa-github" aria-hidden="true"></i>
        </span>
        <span>Sign in with GitHub</span>
    </a>
</div>
</form>
{{ session['username'] }}
{% endblock %}
