<!DOCTYPE html>
{% extends "base.html" %}
{% block body %}

We will not share any information. We collect your email, but only use it in case you were to log in with a different OAuth-provider, and your useraccount on this site will still be the same.

Example
A user logs into our site using Twitter and posts something. After a while, the user comes back and wants to edit these posts, but cannot remember if they used Twitter or GitHub, so they try to log in with GitHub. Since we match the user on the email used on these services, we can be fairly certain that it is the same user.
{% endblock %}
